body {
  background-color: aqua;
}

.section {
  background-color: white;
  width: 100%;
  padding: 10px;
  text-align: left;
  outline: none;
  transition: .5s;

}



.accordion dt {
  padding: 10px;
  display: block;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;

}


.accordion dt:after {
  content: '+';
  margin-left: 10px;
}


.accordion dd {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  margin-bottom: 10px;
  margin-left: 0;
}

.accordion dd.active {
  display: block;
}

.accordion dt.active::after {
  content: '-';
}